<footer>
    <div>
        <h3>What we are?</h3>
        <p class="sty" style="width: 20vw;" >The driving force behind Apatsu is to locate nearest hospitals, calling ambulance, get medicines delivered at your doorsteps, check yourself by telling the symptoms,locate nearest bloodbanks etc</p>

        <br><br>

        <a href="/joinUs" style="color: white;text-decoration: none;"><h3>Work With Us</h3></a>
        
        <!-- <h2>Donate Us</h2> -->
        
    </div>
    

    <!-- <div>
        <h3>Join Us</h3>

        <div>
            <ul class="sty">
                <li>Join As Hospitals </li>
                <li>Join As Medical Shop </li>
                <li>Join As Delivery Boy</li>
                <li>Join As Ambulance</li>
                <li>Join As Blood-Bank</li>
            </ul>
        </div>



        
    </div> -->

    <div>
        <h3>Contact Us</h3>
        <div  class="sty" id="contact">

            <span>
                <p>
                    <b>Adress: &nbsp;</b>
                </p>
            </span>

            <span>
                <p> 
                    B.I.E.T. , NH-25 Kanpur Road,<br>
                    Kocchabhawar, Jhansi,<br>Uttar Pradesh <br> <b>Pincode: 284128</b>
                </p>
            </span>

        </div>

        <p><strong>Email:</strong> h.agarwal06@outlook.com</p>
        <p><strong>Moblie:</strong> +91 999 707 1772</p>
        
    </div>
</footer>