<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apatsu | <%= title %></title>
    <!-- <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet" /> -->
    <script src="https://kit.fontawesome.com/e4b0122a35.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>



    
    <%- include('./includes/header.ejs')%>


    <div id="main-wall">
        <h1>Meet the Team</h1>
        <!-- <p>at</p> -->
        <h1>Apatsu</h1>
        <!-- <h2>At Time of Emergency</h2> -->
        <!-- <p>We at <strong style="color: #f95759;">Apatsu</strong> are always fully focused on helping your to overcame any surgeon procedure, with great commitment and easy recovery.</p> -->
    </div>




    <div class="service-div" style="background-color: white;">
        <br>
        <div>
            <p id="sentences">The driving force behind Apatsu is to locate nearest hospitals, calling ambulance, get medicines delivered at your doorsteps, check yourself by telling the symptoms,locate nearest bloodbanks etc.</p>
        </div>

        <div class="timeline">
            <!-- <h1 class="services-head">Our Services</h1> -->
            <h1 class="services-head"><i class="fas fa-users"></i> Our Team</h1>
            <div class="timeline-box">
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQF7fJfGTusscQ/profile-displayphoto-shrink_200_200/0?e=1598486400&v=beta&t=_Yhom9MQTJGw6TksVZNp5IdRAxCeNDArHS6e1UgQo40" alt="Harsh Agatwal" height="160px" width="160px">
                <ul>
                    <li><strong style="color: #f95759;">Harsh Agarwal</strong></li>
                    <li>2020-IT-09</li>
                    <li>Infomration Technology</li>
                    <li>BIET Jhansi</li>
                    <li><a href="https://www.facebook.com/hra98"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/harsh-agarwal-266b54159/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://github.com/hra06"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>                
            </div>

            <div class="timeline-box">                
                <ul>
                    <li><strong style="color: #f95759;">Harsh Agarwal</strong></li>
                    <li>2020-IT-09</li>
                    <li>Infomration Technology</li>
                    <li>BIET Jhansi</li>
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/harsh-agarwal-266b54159/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://github.com/hra06"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>                
                <img src="http://medicare.bold-themes.com/surgery/wp-content/uploads/sites/16/2015/12/dark-hero-1.jpg" alt="Harsh Agatwal" height="160px" width="160px">
            </div>
            

            <div class="timeline-box">
                <img src="http://medicare.bold-themes.com/surgery/wp-content/uploads/sites/16/2015/12/dark-hero-1.jpg" alt="Harsh Agatwal" height="160px" width="160px">
                <ul>
                    <li><strong style="color: #f95759;">Harsh Agarwal</strong></li>
                    <li>2020-IT-09</li>
                    <li>Infomration Technology</li>
                    <li>BIET Jhansi</li>
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/harsh-agarwal-266b54159/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://github.com/hra06"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>                
            </div>


            <div class="timeline-box">
                <ul>
                    <li><strong style="color: #f95759;">Harsh Agarwal</strong></li>
                    <li>2020-IT-09</li>
                    <li>Infomration Technology</li>
                    <li>BIET Jhansi</li>
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/harsh-agarwal-266b54159/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://github.com/hra06"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>                
                <img src="http://medicare.bold-themes.com/surgery/wp-content/uploads/sites/16/2015/12/dark-hero-1.jpg" alt="Harsh Agatwal" height="160px" width="160px">
            </div>
            

            <!-- <div class="timeline-divider">

            </div> -->
        </div>

        <!-- Footer -->
        <!-- <div>
        <h6><i class="far fa-copyright"></i> Apatsu | At time of emergencies</h6>
        </div> -->


        <br><br>

        <%- include('./includes/footer.ejs')%>




    </div>





</body>
</html>