<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apatsu | <%= title %></title>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/service.css">
</head>
<body>


    <%- include('./includes/header.ejs')%>
    




    <div class="service-div" style="background-color: white;">
        <br>
        <!-- <div>
            <p id="sentences">The driving force behind Apatsu is to locate nearest hospitals, calling ambulance, get medicines delivered at your doorsteps, check yourself by telling the symptoms,locate nearest bloodbanks etc.</p>
        </div> -->

        <div class="timeline">
            <!-- <h1 class="services-head">Our Services</h1> -->
            <h1 class="services-head"><i class="fa fa-cog " aria-hidden="true"></i> Our Services</h1>
           <div class="timeline-box">
                <a href="/service/medicalStores">
                    <h4><i class="fas fa-pills"></i> Medicines </h4>
                    <p>Driving to a pharmacy, waiting at the counter, keeping track of refills—this is what medication is all about these days, especially when you are taking care of your ailing loved ones at home. It is time you save time and get medicines delivered at your doorstep with our Medicine Delivery at <b>APATSU</b>. We assure you round-the-clock services along with providing you auto refills as and when your medicine supply draws to a close.</p>
                </a>
            </div>
            <div class="timeline-box">
                <a href="/service/hospitals">
                    <h4>Hospitals <i class="fas fa-hospital"></i></h4>
                    <p>Need help finding hospitals and medical centers, medical clinics, CLSCs, community heath centers, physicians or alternative care specialists?  Whether you are moving to a new region and want to locate the medical clinic that is closest to your home or you need help finding a hospital that provides the specialized services you are seeking, we can help.</p>
                </a>
            </div>
            <div class="timeline-box">
                <a href="/service/ambulanceList">
                    <h4> <i class="fas fa-ambulance" aria-hidden="true"></i> Ambulance</h4>
                    <p>GPS based technology platform for fast and reliable first point medical attention.
                    With an increasing emphasis on promoting independent living today, having access to the nearest ambulance to you can provide much needed peace of mind in a worst case scenario.</p>
                </a>
            </div>
            

            <!-- <div class="timeline-divider">

            </div> -->
        </div>

        <!-- Footer -->
        <!-- <div>
        <h6><i class="far fa-copyright"></i> Apatsu | At time of emergencies</h6>
        </div> -->


        <!-- <br><br> -->

       


        <%- include('./includes/footer.ejs')%>




    </div>





</body>
</html>