<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apatsu | <%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>


    <%- include('./includes/header.ejs')%>
    


    <div id="main-wall">
        <h1>We Care</h1>
        <!-- <p>at</p> -->
        <h1>Apatsu</h1>
        <h2>At Time of Emergency</h2>
        <!-- <p>We at <strong style="color: #f95759;">Apatsu</strong> are always fully focused on helping your to overcame any surgeon procedure, with great commitment and easy recovery.</p> -->
    </div>




    

       


    <%- include('./includes/footer.ejs')%>
</body>
</html>