/* Font Type */
/* Font Rule */  /*font-family: 'Manrope', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


body{
    font-family: 'Manrope', sans-serif;
    margin: 0px;
    padding: 0px;
    border-color: white;
    background-image: url('/images/dark-hero-1.jpg');
    background-repeat: no-repeat;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-size: 100vw;
}

header {
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
    color: white;
    padding-bottom: 10px;
    /* background-color: black; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* border: 1px solid brown; */
}

header .one{
    margin: 0;
    padding: 0;
    /* margin-top: 0.5vh; */
    display: flex;
    justify-content: space-between;
    /* background-color: rgba(0, 0, 0, 0.5); */
    margin-left: 8vw;
    margin-right: 8vw;
    /* border: 1px solid brown; */
}
header .one ul{
    margin: 0;
    padding: 0;
}
header .one ul li{
    margin: 0;
    padding: 0;
    padding-left: 1vh;
    /* font-size: 1.4rem; */
    list-style: none;
    display: inline;
}
header .one h1{
    margin: 0;
    padding: 0;
}

header .two{
    margin: 0;
    padding: 0;
    /* margin-top: 0.5vh; */
    display: flex;
    justify-content: space-between;
    margin-left: 8vw;
    margin-right: 8vw;
    /* border: 1px solid brown; */
}
header .two ul{
    margin: 0;
    padding: 0;
}

header .two ul li{
    margin: 0;
    padding: 0;

    font-size: 1.4rem;
    padding-right: 8vw;
    list-style: none;
    display: inline;
}

header .two h3{
    margin: 0;
    padding: 0;
}
header a{
    text-decoration: none;
    color: white;
}
header .one a:hover, header .one li:hover{
    text-decoration: none;
    transition-delay: 200ms;
    transition: ease;
    color: #f95759;
    box-shadow: #f95759;
}

header .two a:hover{
    text-decoration: none;
    transition-delay: 200ms;
    transition: ease;
    color: #0c96a8;
    box-shadow: #f95759;
}


#usernav{
    display: flex;
}

.user{
    padding-left: 1vw;
}


#dashboard{
    display: flex;
    justify-content: left;
}

#das-nav{
    width: 20vw;
    min-height: 60vh;
    border-right: 2px solid #0c96a8;
}

#das-nav ul li, #das-nav ul li h1{
    margin: 0;
    padding: 0;
}

#das-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#das-nav ul img{
    border-radius: 50%;
}

#das-nav ul li {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

#das-order{
    margin: 0;
    padding: 0;
    margin-left: 150px;
    width: 75vw;

}

th{
    width: 16vw;
    background-color: rgb(230, 225, 225);
}
td{
    width: 16vw;
    text-align: center;
}
tr{
    background-color: cornsilk;
}
tr:hover{
    background-color: white;
}

/* Footer */
footer{    
    border-top: 2px solid #474b4f;
    padding-top: 5px;
    /* border-top: 1px solid white; */
	width: 100%;
	height: auto;
    display: flex;
    font-family: 'Manrope', sans-serif;
	background-color: #222629;
	justify-content: space-around;
	box-shadow: 2px soild #474b4f;
}

footer div{
	width: 30vw;
	height: auto;
	color: white;
}
/* 
footer .sty{
	font-size: 2rem;
} */

#contact{
	display: flex;
}
footer ul{
    list-style-type:none;
	padding-bottom: 0.6rem;
	font-size: 1.2rem;
}

div h6{
    font-family: 'Manrope', sans-serif;
    /* border-top: 1px solid #eae5e5; */
    /* box-shadow: 4px white; */
    text-align: center;
    color: white;
    background-color: #474b4f;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}