<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apatsu | <%= title %></title>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/notApproved.css">
</head>
<body>
    <%- include('./includes/header.ejs')%>

    <div id="reg-amb">

        <br><br>
        
        <div>
            <h2>Super Admin is a good guy</h2>
        </div>



        <div>
            <h2>Your hospital has not been approved. <br> Please wait we are working on it. <br>Thank You</h2>
        </div>

        <br><br><br>
        <div>
            <h1>
                Apatsu
                <br>
                At Time of Emergencies
            </h1>
        </div>
    </div>
        

    <%- include('./includes/footer.ejs')%>
</body>
</html>