<header>
    <div class="one">
        <h1><a href="/">Apatsu Medical</a></h1>
        <ul>
            <li><i class="fa fa-phone"></i> 9997071772</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i> h.agarwal06@outlook.com</li>
            <li><a href="http://bietjhs.ac.in/"><i class="fa fa-map-marker" aria-hidden="true"></i> BIET Jhansi</a></li>
        </ul>
    </div>
    <div class="two">
        <ul>
            <li><a href="#">Shop</a></li>
            <!-- <li>
                <button class="dropbtn">Services</button>
                <div class="dropdown-content">
                    <a href="#">Medicine Delivery</a>
                    <a href="#">Self Assesment</a>
                    <a href="#">Ambulance</a>
                    <a href="#">Hospitals</a>
                </div>
            </li> -->
            <!-- <li><a href="#">Self Assesment</a></li> -->
            <li><a href="#">Contact Us</a></li>
        </ul>
        <li id="usernav">
            <% if(user){ %>
                <ul><h3><a class="user" href="/log-in"><%= user.ownerName %></a></h3></ul>
                <ul><h3><a class="user" href="/medUsers/sign-out">Sign-Out</a></h3></ul>
            <% }else{ %> 
                <!-- <ul><h3><a class="user" href="/log-in">Sign-In</a></h3></ul> -->
                <!-- <ul><h3><a class="user" href="/sign-up">Sign-Up</a></h3></ul> -->
            <% } %>
        </li>
    </div>

    
</header>